<!-- include header -->
<%- include ('include/sidebar') %>
    <!-- /include header -->


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper bg-color py-5">

        <section class="content">
            <div class="pb-5 pt-3 container px-4" style="background-color:#fff; border-radius:10px;">
                <h6 class="font-weight-bold">Edit Password</h6>
                <hr class="font-weight-bold mx-n4" />
                <div class="row">
                    <div class="col-lg-6 my-2">
                        <form action="/api/changePassword/<%= user %>" method="POST">
                            <label for="Enter Current Password" class="font-weight-bold small">Enter Current
                                Password</label>
                            <input type="password" name="currentPass" id="Enter Current Password"
                                placeholder="Enter Current Password" class="form-control mb-3" style="width:80%">
                            <label for="Enter New Password" class="font-weight-bold my-2 small">Enter New
                                Password</label>
                            <input type="password" name="password" id="Enter New Password" placeholder="Enter New Password"
                                class="form-control mb-3" style="width:80%">
                            <label for="Enter New Password" class="font-weight-bold my-2 small">Enter New
                                Password</label>
                            <input type="password" name="cpassword" id="Enter New Password" placeholder="Enter New Password"
                                class="form-control mb-3" style="width:80%">
                            <button type="submit" class="btn btn-md-5 mt-5"
                                style="background-color:#3CB179; color: white; border-radius: 8px;">Update Now</button>
                        </form>
                    </div>

                </div>

            </div>

        </section>
        <!-- success modal -->
        <% if (message != ''){ %>
            <div class="modal fade py-3" id="successModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <i class="fa-solid fa-circle-xmark mr-2 text-danger"></i>
                            <%= message %>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
                <!-- end success modal -->

    </div>

    </div>
    <!-- ./wrapper -->
    <script type="text/javascript">
        $(document).ready(function () {
            // is open by default
            $('#successModal').modal('show');

        });
    </script>
    </body>

    </html>