<html lang="en">

<head>
    <title>One 1000</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/user.css">
    <link rel="stylesheet" href="css/musicstyle.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/css/mdb.min.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg white">
        <!-- Navbar brand -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link p-0 brand" href="/home">
                    <img src="images/one1000-primary-logo.png" class="z-depth-0" alt="avatar image" height="90">
                </a>
            </li>
        </ul>
    
        

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto ml-lg-5 pl-lg-5">
                <li class="nav-item">
                    <a class="nav-link active text-dark" href="/userDashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/webinar">Webinar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/onlinetraining">Online Training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/about">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/contact">Contact us</a>
                </li>
            </ul>
            <!-- Links -->

            <!-- Collapsible content -->
            
            <!-- <a class="nav-link" href="signin.html">Login</a> -->
            <!-- <a href="signup.html" style="border-radius: 15px; background: #017EBE;" class="btn text-white btn-md ml-3">Get Started</a> -->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link brand" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="images/Ellipse-2.png" width="50" height="50" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/user_profile">My Profile</a>
                        <a class="dropdown-item text-danger" href="/logout">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <i class="fas fa-bars"></i>
        </button>
    </nav>


      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper bg-color py-5">
    
    <section class="content">
        <div class="py-5 container" style="background-color:#fff; border-radius:10px;"> 

            <div class="row d-flex">
                <div class="col-lg-9 my-2">
                    <div class="d-flex">
                        <div class="col-lg-2">
                            <img src="images/Ellipse-2.png" class="rounded-circle img-fluid">
                        </div>
                        <div class="col-lg-2">
                            <h6 class="small text-muted">Name</h6>
                            <h6 class="mb-4 small font-weight-bold"><%= user[0].name %></h6>
                            <h6 class="small text-muted">Location</h6>
                            <h6 class="mb-3 small font-weight-bold"><%= user[0].location %></h6>
                        </div>
                        <div class="col-lg-3">
                            <h6 class="small text-muted">Phone Number</h6>
                            <h6 class="mb-4 small font-weight-bold"><%= user[0].phone %></h6>
                            <h6 class="small text-muted">Email</h6>
                            <h6 class="mb-3 small font-weight-bold"><%= user[0].email %></h6>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-lg-3 my-2">
                    <div class="text-right mb-5">
                        <a class="btn btn-sm" style="color: white; border-radius: 22px; background-color: #3CB179;" name="active">Active</a>
                    </div>
                        <div class="row d-flex justify-content-right">
                            <a href="/changeUserPassword" class="nav-link small text-blue">Change Password</a>
                            <a href="/editUserProfile" class="nav-link small text-blue">Edit Profile</a>
                        </div>
                </div>
                
            </div>
            
        </div>
        
    </section>

    
  </div>

<!-- Footer -->
<footer id="footer" class="font-small text-white pt-4">

    <!-- Footer Elements -->
    <div class="container">
       <div class="row">
           <div class="col-lg-4">
               <a class="nav-link p-0" href="/home">
                   <img src="images/one1000-primary-logo.png" class="z-depth-0" alt="avatar image" height="140">
               </a>
           </div>
           <div class="col-lg-4">
               <h5 class="text-white mb-3">Quick links</h5>
               <ul class="list-unstyled text-muted">
                   <li><a class="text-white-50 small" href="/home">Home</a></li>
                   <li><a class="text-white-50 small" href="/about">About</a></li>
                   <li><a class="text-white-50 small" href="/signup">Get started</a></li>
               </ul>
           </div>
           <div class="col-lg-4">
               <h5 class="text-white mb-3">Join me on social media</h5>
               <ul class="list-unstyled text-muted">
                   <li><a class="text-white-50 small" target="_blank" href="https://www.facebook.com/WESTrainingandConsulting"><i class="fa-brands fa-facebook-f mr-2"></i>WESTrainingandConsulting</a></li>
                   <li><a class="text-white-50 small" target="_blank" href="https://www.instagram.com/WEStc/"><i class="fa-brands fa-instagram mr-2"></i>WEStc</a></li>
                   <li><a class="text-white-50 small" target="_blank" href="https://www.linkedin.com/in/WES/?originalSubdomain=ca"><i class="fa-brands fa-linkedin mr-2"></i>WES</a></li>
                   <li><a class="text-white-50 small" target="_blank" href="WES"><i class="fa-brands fa-youtube mr-2"></i>WES Training & Consulting</a></li>
               </ul>
           </div>
       </div>
       <div class="row text-center">
           <!-- Copyright -->
           <div class="footer-copyright px-2 py-2">2022, Copyright, all rights reserved</div>
           <!-- Copyright -->
       </div>

   
   </div>
   <!-- Footer Elements -->


</footer>
<!-- Footer -->

</body>

</html>