<!-- include header -->
<%- include ('_header') %>
<!-- /include header -->

 <!-- Main Sidebar Container -->
 <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="text-center">
        <a href="/dashboard">
          <img src="images/one1000-primary-logo.png"
               alt="WES Logo"
               class="img-fluid"
               >
        </a>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column line-height" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
               <li class="nav-item">
                <a href="/dashboard" class="nav-link">
                  <i class="nav-icon fa-solid fa-house"></i>
                  <p>
                    Dashboard
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/users" class="nav-link">
                  <i class="nav-icon fa-solid fa-chalkboard-user"></i>
                  <p>
                    Users
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/courses" class="nav-link">
                  <i class="nav-icon fa-solid fa-certificate"></i>
                  <p>
                    Courses
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/webinars" class="nav-link">
                  <i class="nav-icon fa-solid fa-chalkboard-user"></i>
                  <p>
                    Webinar
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/audios" class="nav-link">
                  <i class="nav-icon fa-solid fa-volume-up"></i>
                  <p>
                    Audio
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/booklets" class="nav-link">
                  <i class="nav-icon fa-solid fa-book"></i>
                  <p>
                    Booklets
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/company" class="nav-link">
                  <i class="nav-icon fa-solid fa-user"></i>
                  <p>
                    Company
                  </p>
                </a>
              </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>